<html ng-app="alexlitty">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Alexander Litty</title>

        <link rel="stylesheet" href="/styles.css">
        <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lora">
        <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Herr+Von+Muellerhoff" />

        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
        <script src="/site.js"></script>
  </head>

  <body ng-controller="SiteController as site">
    <header>
        <div class="items">
            <div class="item resume" ng-click="site.navigate()">Resume</div>
            <div class="item about" ng-click="site.navigate('about')">About</div>

            <div class="item centerpiece">
                <h1>Alexander Litty</h1>
                <h2>Programmer Extraordinaire</h2>
            </div>

            <div class="item contact" ng-click="site.navigate('contact')">Contact</div>
            <div class="item testimonials" ng-click="site.navigate('faq')">FAQ</div>
        </div>
    </header>

    <section id="resume" ng-show="!site.section">
        <article>
            <h1>Hi!</h1>

            <div class="content">

                I'm <strong>Alexander Litty</strong>, a Software Engineer with 3 years of professional experience and a lifetime of hobbiest experience.
                
                I bring strong architectural and problem-solving abilities to the table with a can-do attitude.
                
                <br /><br />

                I seek an exciting new opportunity in the <strong>San Francisco</strong> area.

            </div>
        </article>

        <article>
            <h1>Employment</h1>

            <div class="content">

                <div class="item">
                    <a href="http://www.pricespider.com/" target="_blank">
                        <img src="/images/companies/pricespider.png" alt="PriceSpider" />
                    </a>

                    <div class="info">
                        <div><strong>Software Engineer</strong> &bull; <span class="i">March 2015 &mdash; May 2016</span></div>
                        <div><span class="i">Irvine, California</span></div>

                        <br />

                        <ul>
                            <li>Developed large-volume web crawlers using Node.js and C#</li>
                            <li>Delivered client tools with Express and AngularJS</li>
                            <li>Architected core services in high-accountability environment</li>
                        </ul>

                        <br />

                        PriceSpider is the leader in the Where-To-Buy industry, helping users find the best prices for products.

                        <br /><br />
                        
                        Since we worked with popular household names -- Samsung, LG, Canon, Mattel, and plenty more -- PriceSpider was a fast-paced environment with minimal room for error.
                        
                        The 50-person company had 8 Software Engineers.
                    </div>
                </div>

                <div class="item">
                    <a href="http://www.lumate.com/" target="_blank">
                        <img src="/images/companies/lumate.png" alt="Lumate" />
                    </a>

                    <div class="info">
                        <div><strong>Software Developer</strong> &bull; <span class="i">July 2013 &mdash; September 2014</span></div>
                        <div><span class="i">Rolla, Missouri</span></div>

                        <br />

                        <ul>
                            <li>Crafted Python software at fast-paced startup</li>
                            <li>Analyzed Big Data on-the-fly to intelligently serve advertisements</li>
                            <li>Contributed to a low-level pipeline network using ZeroMQ</li>
                        </ul>

                    </div>
                </div>
            </div>
        </article>

        <article>
            <h1>Projects</h1>

            <div class="content">

                <div class="item">
                    <a href="http://www.cosmodon.com/" target="_blank">
                        <img src="/images/projects/cosmodon.png" alt="Cosmodon" />
                    </a>

                    <div><strong>C++ Video Game Library</strong> &bull; <span class="i">In Development</span></div>

                    <br />

                    Cosmodon is an open-source video game library I create in my spare time.

                    <br /><br />
                    
                    It was created as a simple and powerful solution for 3D graphics, physics simulation, and efficient networking.

                    <br /><br />

                    <a href="https://www.github.com/lanyardtextile/cosmodon" target="_blank">Peruse the code on GitHub.</a>
                    
                </div>

                <div class="item">
                    <img src="/images/projects/tree-simulator.png" alt="Tree Simulator" />

                    <div><strong>Video Game</strong> &bull; <span class="i">In Development</span></div>

                    <br />

                    When not working on Cosmodon, I build Tree Simulator.

                    <br /><br />

                    As a tree lost in space, you must use your weaponized leaves to defeat the evil Mega Beaver. The game features procedurally generated galaxies, presenting new and random challenges with each playthrough.

                    <br /><br />

                    This game is being built in C++11 with <a href="http://www.sfml-dev.org/" target="_blank">SFML.</a>
                </div>

            </div>
        </article>

        <article>
            <h1>Academic</h1>

            <div class="content">
                <div class="item">
                    <img src="/images/books/clean-code.jpg" alt="Clean Code" />

                    <br />

                    <div><strong>Clean Code</strong> &bull; <span class="i">Robert C. Martin</span></div>

                    <br />

                    This is my favorite programming book for modern development. It explores the balance between timeliness and quality code, with an emphasis on meaningful delivery estimates.
                </div>

                <div class="item">
                    <img src="/images/megaminer-ai.png" alt="MegaMiner AI"/>
                    <div><strong>MegaMiner AI</strong> &bull; <span class="i">Artificial Intelligence Challenge</span></div>
                    <div class="i">Three-Time Participant</div>

                    <br />

                    The MegaMiner AI is an annual 24-hour coding challenge.
                    
                    <br /><br />
                    
                    Participants build an artificial intelligence for a pre-built video game, which are ran against each other until one winner remains.

                </div>

                <div class="item">
                    <div><strong>Formal Agile Training</strong> &bull; January 2016</div>

                    <br />

                    In a multi-day training session, my team explored Agile development. We integrated the methodology into our into existing workflow, emphasizing the need for reliable delivery times.

                </div>
            </div>
        </article>

        <article>
            <h1>Education</h1>

            <div class="content">
                <div class="item">
                    <div><strong>Missouri University of Science and Technology</strong> &bull; <span class="i">Fall 2011 &mdash; Fall 2014</span></div>
                    <div class="i">Completed 80 credit hours toward B.S. Computer Engineering</div>
                </div>

                <div class="item">
                    I intend to continue my education while working in San Francisco.
                </div>
            </div>
        </article>
    </section>

    <section ng-show="site.section === 'about'">
        <article>
            <h1>About</h1>

            <div class="content">
                You can call me Alex!
                
                <br /><br />
                
                I was raised in <a href="https://en.wikipedia.org/wiki/Guam" target="_blank">Guam</a>, had some education in Missouri, and moved out to California to work. I intend to stay in the San Francisco area for a long time.
            </div>
        </article>

        <article>
            <h1>Programming</h1>

            <div class="content">
                I started programming when I was young.

                <br /><br />

                My initial interests were in websites and quickly grew into video games. In all my programming, I've experimented with a lot of technologies: I'm an adaptable developer, extremely confident in my abilities, and eager to learn every day.

                <br /><br />

                Today I seek great challenges, on a team or otherwise.
            </div>
        </article>
    </section>

    <section ng-show="site.section === 'faq'">
        <article>
            <h1>FAQ</h1>

            <div class="content">
                <div class="item">
                    <div><strong>What kind of work do you seek?</strong></div>

                    <br />

                    I seek a full-time Software Engineering position in the San Francisco area. I excel in backend development, enjoy fullstack development, and dislike pure frontend development.
                    
                    <br /><br />
                    
                    Ideally, my next opportunity will allow me to explore a senior or leadership role.
                </div>

                <div class="item">
                    <div><strong>Do you enjoy mentoring?</strong></div>

                    <br />

                    It's my favorite activity. Programming is enjoyable, passing knowledge even more so.
                </div>

                <div class="item">
                    <div><strong>Do you perform well on a team?</strong></div>

                    <br />

                    Absolutely. I'm a people person, and am eager to communicate and collaborate with my peers.
                </div>

                <div class="item">
                    <div><strong>How do you perform under stress?</strong></div>

                    <br />

                    Historically well. When a deadline creeps close or a critical system goes offline, it's time to work and be proactive -- panicking is never the answer.
                </div>
            </div>
        </article>
    </section>

    <section ng-show="site.section === 'contact'">
        <article>
            <h1>Contact</h1>

            <div class="content">
                <div class="item">
                    You can e-mail me at <strong>me@alexlitty.com</strong>.

                    <br /><br />

                    I reside in <strong>Emervyille, CA</strong>. If you'd like my full address, contact me by e-mail.
                </div>
            </div>
        </article>
    </section>
  </body>
</html>
